SE_01/1/.classpath
SE_01/1/.project
SE_01/1/.settings/org.eclipse.jdt.core.prefs
SE_01/1/.settings/org.eclipse.m2e.core.prefs
SE_01/1/target/classes/META-INF/MANIFEST.MF
SE_01/1/target/classes/META-INF/maven/by.epam.training.msv/se01-1/pom.properties
SE_01/1/target/classes/META-INF/maven/by.epam.training.msv/se01-1/pom.xml
SE_01/1/target/classes/by/epam/training/msv/se01_1/HelloWorld.class
*.class
*.classpath
*.project
SE_01/2/.settings/org.eclipse.jdt.core.prefs
SE_01/2/.settings/org.eclipse.m2e.core.prefs
SE_01/2/target/classes/META-INF/MANIFEST.MF
SE_01/2/target/classes/META-INF/maven/by.epam.training.msv/se01-2/pom.properties
SE_01/2/target/classes/META-INF/maven/by.epam.training.msv/se01-2/pom.xml
*.prefs
*.MF
*.properties

SE_01/5/target/
SE_01/3/target/
SE_01/6/target/
SE_02/1/target/
SE_02/2/target/
SE_02/3/target/classes/META-INF/maven/by.epam.training.msv/se02-3/pom.xml
SE_02/5/target/
SE_02/6/target/
SE_03/1/target/
SE_03/2/target/
SE_04/1/target/
SE_04/2/target/
SE_04/3/target/
SE_04/4/target/
SE_05/1/target/
SE_05/2/target/
SE_06/2/pom.xml/target/
PhoneServiceProvider/webapp/target/
